$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$montserrat-font: "Montserrat", sans-serif;

// ---- Colores ----
$bg-principal: #FAF8F5;
$bg-secundary: #FFFFFF;

$bg-cyan: #A9D6CB;
$color-title: #264065;
$color-text: #909090;