@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


.container {
    max-width: $bp-desktop;
    margin: 0 auto; 
    height: 580px;
    padding: 0 50px;
    background: linear-gradient(
        to right, 
        $bg-principal 60%, 
        $bg-cyan 60%    
    );
}

.main-header, .main-content {
    display: grid;
    grid-template-columns: 2fr 1fr; // Esto crea el 2/3 y 1/3 exacto
    width: 100%;
}

header.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: $color-title;
    font-size: 18px;
    font-weight: 400;
}

.header {

    &-left {
        display: flex;
        gap: 50px;
        background-color: $bg-principal;
        align-items: center;
        max-width: 60%;

        .logo {
            color: $color-title;
            font-size: 30px;
            font-weight: 700;
            span {
                color: $bg-cyan;
                }
        }

        ul {
            @include reset-list();
            display: flex;
            gap: 30px;

            li a {
                text-decoration: none;
                color: $color-title;
                font-size: 14px;
                font-weight: 400;

                img {
                    align-items: center;
                    margin-left: 10px;
                }
            }
        }
    }

    &-right {
        display: flex;
        gap: 30px;
        padding: 0 20px;

        .nav-icons {
            display: flex;
            gap: 50px;
            
            img {
                width: 20px;
            }
        }
    }
    
}

.section {
    position: relative; // Esto es obligatorio para que la imagen no flote por toda la pantalla
    display: flex;
    overflow: visible;
    
    &-left {
        .hero-content {
            max-width: 50%;

            h1 {color: $color-title; font-size: 40px; font-weight: 700; padding: 40px 0;}
            p.subtitle {color: $color-text; font-size: 16px; font-weight: 400; padding: 0 0 40px 0;}
        
            .cta-buttons {
                display: flex;
                margin-bottom: 50px;
                a.btn{
                    &-book{
                    @include color-azul-boton();
                    margin-right: 50px;
                    text-decoration: none;
                    }

                    &-video{
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        text-decoration: none;
                        color: $color-title;

                        .play-icon {
                            display: flex;
                            justify-content: center; 
                            align-items: center;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                        }
                    }
                }
            }

            .stat{
                &s-container{
                    background-color: $bg-secundary;
                    padding: 30px;
                    border-radius: 4px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    position: relative;
                    bottom: -10px;
                    max-width: 80%;
                }

                &-item { 
                    display: flex;
                    flex-direction: column; 
                    align-items: center;    
                    text-align: center;
                    flex: 1;                
                }

                &-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $bg-cyan;
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;

                    img {
                        width: 50px;
                    }
                }

                &-number{
                    font-size: 30px;
                    font-weight: 500;
                }

                &-label {
                    color: $color-title;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        
        }
    }

    &-right {
        .model-image {
            display: flex;
            position: absolute;
            object-fit: contain;
            width: auto;
            height: 660px;
            right: 50px;
            bottom: 0;
            z-index: 1;
        }

        .img-fondo{
            display: flex;
            position: absolute;
            object-fit: contain;
            width: auto;
            height: 280px;
            right: 170px;
            top: -16px;
            opacity: 0.2;
        }

        .card-top {
            display: inline-grid;
            position: absolute;
            max-width: 350px;
            right: -6px;
            top: 145px;
            padding: 20px;
            background-color: rgb($bg-secundary, 0.5);
            backdrop-filter: blur(10px);
            font-size: 16px;
            font-weight: 400;
            border-radius: 10px;
            z-index: 1;
        }

        .card-bottom {
            display: inline-grid;
            position: absolute;
            max-width: 350px;
            right: 100px;
            bottom: 30px;
            padding: 20px;
            background-color: rgb($bg-secundary, 0.5);
            backdrop-filter: blur(10px);
            font-size: 16px;
            font-weight: 400;
            border-radius: 10px;  
            z-index: 1;
        }
    }
}